### AND 연산 
- 문제정의  
  훈련 데이터와 테스트 데이터 이해하기  
  AND 연산의 결과를 도출하는 머신러닝모델 학습하고 이해하기

In [1]:
# 필요한 도구 불러오기
import pandas as pd

In [3]:
#DataFrame 만들기 (데이터 생성)
# 행 : 8, 열(컬럼) : 3
df = pd.DataFrame({'A':[0,0,1,1,1,0,1,0],
             'B':[0,1,0,1,0,0,1,1],
             'AandB':[0,0,0,1,0,0,1,0]})
df

   A  B  AandB
0  0  0      0
1  0  1      0
2  1  0      0
3  1  1      1
4  1  0      0
5  0  0      0
6  1  1      1
7  0  1      0

- 'A', 'B' : 문제데이터, 특성, feature, 독립변수, X, 속성
- 'AandB' : 정답데이터, target, label, 클래스, 종속변수, y

### 데이터 전처리
- 컬럼인덱싱을 통해서 문제데이터(X)와 정답데이터(y)로 분리하기

In [6]:
X = df[['A','B']]
y = df[['AandB']]
X
y

   AandB
0      0
1      0
2      0
3      1
4      0
5      0
6      1
7      0